.attract {
  background-color: $black;
  min-height: 340px;
}

.attract__list {
  display: flex;
  justify-content: center;
  min-height: 340px;
  align-items: center;

  @include tablet {
    flex-direction: column;
    align-items: center;
  }
}

.attract__item {
  width: 30%;
  min-height: 134px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2px;

  @include tablet {
    width: 90%;
  }
}

.attract__title {
  font-size: 19.96px;
  line-height: 24px;
  color: $white;
}

.attract__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: $white;
  text-align: center;
}
